.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; margin: 0 auto 0 0} 

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 32px}
.u-section-1 .u-text-1 {margin-top: 5px; margin-right: 152px; margin-bottom: 5px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: right center 0; margin: 0 auto 60px 0}
.u-section-2 .u-btn-1 {background-image: none; border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 114px auto 60px; padding: 20px 73px 21px}
.u-section-2 .u-btn-2 {background-image: none; border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 30px auto 0; padding: 20px 73px 21px}
.u-section-2 .u-btn-3 {background-image: none; border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 30px auto 0; padding: 20px 73px 21px}
.u-section-2 .u-btn-4 {background-image: none; border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 30px auto 60px; padding: 20px 73px 21px}
.u-section-2 .u-text-1 {width: auto; margin: -474px auto 60px} 

@media (max-width: 575px){ .u-section-2 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-btn-1 {margin-top: 60px; margin-bottom: 0; padding-top: 7px; padding-bottom: 8px}
.u-section-2 .u-btn-2 {margin-top: 38px; padding: 7px 81px 8px}
.u-section-2 .u-btn-3 {margin-top: 38px; padding-right: 97px; padding-bottom: 20px; padding-left: 96px}
.u-section-2 .u-btn-4 {margin-top: 38px; margin-bottom: 0; padding-bottom: 20px; padding-left: 96px; padding-right: 96px}
.u-section-2 .u-text-1 {margin-top: -433px; margin-left: 43px} }