.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; margin: 0 auto 0 0} 

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 32px}
.u-section-1 .u-text-1 {margin-top: 5px; margin-right: 149px; margin-bottom: 5px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: right center 0; margin: 0 auto 60px 0}
.u-section-2 .u-text-1 {font-weight: normal; margin: 30px 0 60px}
.u-section-2 .u-icon-1 {height: 21px; width: 21px; margin: -25px auto 60px 41px}
.u-section-2 .u-text-2 {font-weight: 700; margin: 30px 5px 60px}
.u-section-2 .u-line-2 {height: 3px; transform-origin: right center 0; margin: 30px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {margin-left: 4px; margin-right: 4px} }

@media (max-width: 991px){ .u-section-2 .u-text-2 {margin-left: 3px; margin-right: 3px} }

@media (max-width: 767px){ .u-section-2 .u-text-2 {margin-left: 2px; margin-right: 2px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 160px}
.u-section-2 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {width: 238px; font-weight: 700; margin: 23px 51px 0}
.u-section-2 .u-icon-1 {margin-bottom: 0}
.u-section-2 .u-text-2 {margin-left: 5px; margin-right: 5px; margin-bottom: 0}
.u-section-2 .u-line-2 {margin-right: initial; margin-left: initial} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 4px; font-size: 1.125rem; font-weight: 700} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 52px}
.u-section-3 .u-text-1 {width: 93px; margin-top: 12px; margin-bottom: 12px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0}
.u-section-4 .u-text-1 {margin: 9px 24px 0}
.u-section-4 .u-image-1 {width: 570px; height: 324px; margin: 30px 24px 60px} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-left: 19px; margin-right: 19px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-left: 15px; margin-right: 15px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 483px}
.u-section-4 .u-text-1 {margin-left: 11px; margin-right: 11px}
.u-section-4 .u-image-1 {width: 540px; height: 307px; margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 243px}
.u-section-4 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {margin-left: 16px; margin-right: 16px}
.u-section-4 .u-image-1 {height: 118px; width: 208px; margin-left: auto; margin-right: auto; margin-bottom: 58px} }