.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 1rem; margin: 30px 5px 60px}
.u-section-1 .u-line-1 {height: 3px; transform-origin: right center 0; margin: 30px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 4px; margin-right: 4px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 3px; margin-right: 3px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 2px; margin-right: 2px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 88px}
.u-section-1 .u-text-1 {font-size: 0.875rem; margin: 16px 22px 0}
.u-section-1 .u-line-1 {margin-top: 10px; margin-bottom: 16px; margin-right: initial; margin-left: initial} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 4px; font-size: 1.125rem; font-weight: 700}
.u-section-2 .u-image-1 {width: 82px; height: 249px; margin: -16px auto 45px} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {height: 250px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 346px}
.u-section-2 .u-text-1 {width: 236px; margin-top: 12px; margin-bottom: 0}
.u-section-2 .u-image-1 {height: 249px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0}
.u-section-3 .u-text-1 {font-size: 1rem; margin: 9px 24px 60px}
.u-section-3 .u-icon-1 {height: 21px; width: 21px; margin: -26px auto 13px 37px} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-left: 19px; margin-right: 19px} }

@media (max-width: 991px){ .u-section-3 .u-text-1 {margin-left: 15px; margin-right: 15px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {margin-left: 11px; margin-right: 11px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 44px}
.u-section-3 .u-line-1 {margin-top: 7px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {font-size: 1.125rem; margin: 0 auto} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 60px} 

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 235px}
.u-section-4 .u-text-1 {margin-bottom: 40px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0}
.u-section-5 .u-text-1 {font-size: 1rem; margin: 9px 24px 60px}
.u-section-5 .u-icon-1 {height: 21px; width: 21px; margin: -26px auto 13px 37px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {margin-left: 19px; margin-right: 19px} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {margin-left: 15px; margin-right: 15px} }

@media (max-width: 767px){ .u-section-5 .u-text-1 {margin-left: 11px; margin-right: 11px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 41px}
.u-section-5 .u-line-1 {margin-top: 5px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-1 {font-size: 1.125rem; width: auto; margin: 0 auto 0 150px}
.u-section-5 .u-icon-1 {margin-top: -27px; margin-bottom: 12px; margin-left: 129px} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 60px} 

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 130px} }.u-section-7 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 80px}
.u-section-7 .u-custom-html-1 {min-height: 80px; height: auto; margin-top: 0; margin-bottom: 0} }